/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

/* Header Styles */
header {
    background: url('images/header-image.jpg') center/cover no-repeat;
    position: relative;
    height: 460px;
    color: #ffd966;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-overlay {
    background-color: rgba(51, 51, 51, 0.70);
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.2;
}

/* Search Bar Styles */
.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1.5px solid #333;
    width: 600px;
    max-width: 90%;
}

.search-container input {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 1rem;
    border: none;
    color: #555;
}

.search-container input::placeholder {
    color: rgba(150, 150, 150, 0.4);
}

.search-container input:focus {
    outline: none;
}

.search-container button {
    padding: 10px 12px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Filters Styles */
.filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.filter select {
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
}

/* Recipe List Styles */
.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.recipe-card {
    border: 1px solid #ddd;
    width: 300px;
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    text-align: left;
}

.recipe-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.recipe-card h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px;
}

.recipe-details {
    padding: 0 15px;
    line-height: 1.6;
}

.section-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #999;
    margin: 5px 0;
}

.recipe-details p {
    font-size: small;
    color: #333;
    line-height: 1.4;
}

.recipe-details p strong {
    font-weight: bold;
    font-size: medium;
    color: #888;
}

/* Ingredients List Styles */
.ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}

.ingredient-item {
    width: 45%;
    font-size: 0.8rem;
    color: #333;
    line-height: 1.4;
}

.ingredient-quantity {
    color: #666;
}

/* Result Message */
#search-results {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
    text-align: center;
}